h1 {
    color: white;
    font-size: 50px;
    text-align: center;

}

h2{
    color: white;
    text-align: center;
    font-size: 22px;
}

h3 {
    color: white;
    font-size: 20px;
}

h4 {
    text-align: center;
    color: white;
    font-size: 21px
}

h5 {
    text-align: center;
    color: white;
    font-size: 16px;
}

p {
    color: white;
    font-size: 19px;
}

body {
   /* background-color: #064a18; */
    background-color: #043315; 
    margin: 0 auto;
    padding: 0 150px;
}

img {
    display: block;
    margin: 0 auto;
    width: 580px;
    height: 340px;
}

img.soundboard {
   /* display: inline-block;
    vertical-align: top;
    width: 200px
    height: 100px;
    margin: 0 20px; */
    width: 100%;
    height: 120px;
    object-fit: cover;
}

img.arduino {
    /* display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100px;
    margin: 0 20px; */
    width: 100%;
    height: 137px;
    object-fit: cover;
}

img.breadboard {
   /* display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100px;
    margin: 0 20px; */
    width: 100%;
    height: 120px;
    object-fit: cover;
}

img.buttons {
  /*  display: inline-block;
    vertical-align: top;
    width: 165px;
    height: 100px;
    margin: 0 20px; */
    width: 100%;
    height: 96px;
    object-fit: cover;
    align-self: start;
    margin-top: 10px;
}

.components-images {
    float: right;
    width: 50%;
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 5px;
    column-gap: 35px;
    vertical-align: top;
}

.attempt1-container {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    align-items: center;
    width: 100%;
}

img.attempt1 {
  /*  display: inline-block; */
    width: 260px;
    height: 300px;
    /* margin-left: 0;
    margin-right: auto;
    vertical-align: top; */
    justify-self: end;
    margin-right: 130px;
}

img.attempt1-2 {
  /*  display: inline-block; */
    width: 260px;
    height: 150px;
    /*margin-left: auto;
    margin-right: 0;
    vertical-align: top; */
    justify-self: end;
    margin-left: 130px;
}

ul {
    color: white;
    float: left;
    width: 27%;
    font-size: 20px;
    margin-top: 43px;
    margin-left: 35px; 
}

h1.left {
    text-align: left;
    font-size: 36px
}

video {
    width: 400px;
    height: 300px;
    /* display: block;
    margin: 0 auto; */
    justify-self: center;
}

video.Attempt1 {
    width: 400px;
    height: 300px;
  /*  display: inline-block;
    vertical-align: top; */
    justify-self: center;
}

video.Attempt2 {
    width: 400px;
    height: 300px;
    justify-self: center;
}

.attempt3-container {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    align-items: center;
    width: 100%;
}

.attempt2-container {
    display: grid;
    grid-template-columns: 3fr auto 3fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    column-gap: 60px;
}

img.attempt2 {
    width: 340px;
    height: 220px;
    justify-self: end;
   /* margin-right: 130px; */
  
}

img.attempt2-2 {
    width: 285px;
    height: 235px;
    justify-self: start;
  /*  margin-left: 130px; */
   
}

img.attempt3 {
    width: 260px;
    height: 150px;
    justify-self: end;
    margin-right: 130px;
}

img.attempt3-2 {
    width: 260px;
    height: 160px;
    justify-self: end;
    margin-left: 130px;
}

.attempt {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 30px;
}

pre code{
    color: white;
    font-size: 14px;
}

pre {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 12px;
    margin: 20px auto;
    /*width: 38%;*/
    width: 100%;
}
